<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h3><%= @restaurant.category %></h3>

  <h5>Contact Details</h5>
  <h5><%= @restaurant.phone_number %></h5>
  <h5><%= @restaurant.address %></h5>

  <h5><%= link_to "Leave a review!", new_restaurant_review_path(@restaurant) %></h5>

  <h3>Reviews:</h3>
  <% @restaurant.reviews.each do |review| %>
  <%= "#{review.rating}/5 - #{review.content}" %>
  <br>
  <% end %>
</div>
